$primary: #004892;
 
.modal-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 70%;
    left: 85%;
    background-color: $primary;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 0px 40px 55px 0px rgba(0, 0, 0, 0.15);
    img {
        transform: rotate(45deg);
    }
}


