@font-face {
  font-family: 'AvenirBold';
  src: url("./fonts/AvenirNext-Bold-01.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBoldItalic';
  src: url("./fonts/AvenirNext-BoldItalic-02.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirDemiBold';
  src: url("./fonts/AvenirNext-DemiBold-03.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirDemiBoldItalic';
  src: url("./fonts/AvenirNext-DemiBoldItalic-04.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url("./fonts/AvenirNext-Heavy-09.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirHeavyItalic';
  src: url("./fonts/AvenirNext-HeavyItalic-10.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirItalic';
  src: url("./fonts/AvenirNext-Italic-05.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMediun';
  src: url("./fonts/AvenirNext-Medium-06.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMediumItalic';
  src: url("./fonts/AvenirNext-MediumItalic-07.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirRegular';
  src: url("./fonts/AvenirNext-Regular-08.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirUltraLight';
  src: url("./fonts/AvenirNext-UltraLight-11.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirUltraLightItalic';
  src: url("./fonts/AvenirNext-UltraLightItalic-12.ttf");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 320px) and (max-width: 899px) {
  .opt {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .opt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-arrangement {
  width: 100%;
  height: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

.side-nav-bar {
  width: 15%;
  min-width: 15%;
  margin: 0;
  background-color: #004892;
}

.main-body-section {
  width: 68%;
  margin: 0;
  margin-left: 2em;
}

header {
  width: 100%;
  height: 70px;
  margin: 0;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-nav-header-image {
  width: 50%;
  margin-top: 2em;
  margin-left: 3em;
}

.menu-options {
  margin-top: 6em;
}

a {
  text-decoration: none;
  width: 80%;
  -webkit-text-decoration-style: unset;
          text-decoration-style: unset;
}

.menu-options a {
  text-decoration: none;
}

.side-menu-option {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  opacity: 0.4;
}

.menu-icon {
  width: 20px;
  height: auto;
  margin: 0;
}

.opt {
  width: 50%;
  height: auto;
  margin-left: 1em;
}

.side-menu-option:hover {
  opacity: unset;
  color: #fff;
}

.version {
  text-align: center;
  margin-top: 28em;
  color: #dedede;
  font-size: 12px;
}

.search-group {
  border: 1px solid #dedede;
  width: 30%;
  min-width: 250px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  margin-left: 5%;
}

.text-field {
  width: 100%;
  outline: none;
  border: none;
  padding-left: 1em;
  background-color: #f7f7f7;
}

.search-button {
  width: 39px;
  height: 39px;
  border: none;
  border-bottom: 1px solid #dedede;
  background-color: #f7f7f7;
}

.drp-down {
  width: 120px;
  height: 52px;
  margin-left: 0em;
  margin-right: 5em;
}

.user-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: .5em;
  background-color: #003b77;
}

.drop-arrow {
  width: 30px;
  height: 30px;
  padding: .5em;
  margin-left: .5em;
}

ul, li {
  list-style-type: none;
}

ul {
  margin-top: 2em;
  display: none;
}

.uMenuitem {
  margin-left: -2em;
  width: 6em;
  height: 2em;
  text-decoration: none;
  color: #000;
  background-color: white;
  padding: .5em;
}

.drop-arrow:hover + ul {
  display: block;
}

a.uItem:hover {
  background-color: #cacaca;
  display: block;
}

.uMenuitem a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
  display: block;
  color: #000;
}

.uMenuitem a:visited {
  color: black;
}

.body-box {
  width: 900px;
  height: 800px;
  border: 2px solid blue;
}

@media only screen and (min-wdith: 320px) and (max-width: 900px) {
  .opt {
    display: none;
  }
}
/*# sourceMappingURL=appx.css.map */